@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html {
    box-sizing: border-box;
}

*,*::after,*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

h1 {
    margin: 15px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

body {
    height: 100%;
}

#playerChoice {
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFFDD0;
    background: linear-gradient(to bottom, #FFFDD0 0%, #F0EEC1 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#playerChoice h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 3rem;
    color: coral;
}

h1 span {
    font-family: 'Fredoka One', cursive;
    color: tomato;
}

form {
    max-width: 97%;
    z-index: 2;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div {
    max-width: 99%;
    padding: 5px;
    background-color: #ffdebb;
    border: none;
    border-radius: 10px;
    width: 250px;
    display: flex;
    gap: 7px;
}

form p {
    margin: 10px;
    color: lightsalmon;
    font-family: 'Supermercado One', cursive;
    letter-spacing: 2px;
    font-size: large;
}

form button { 
    box-sizing: content-box;
    flex-grow: 1;
    border-radius: 10px;
    font-size: 40px;
    width: 70px;
    height: 60px;
    border: none;
    background-color: #f8dec2;
    box-shadow: 1px 1px #ffba71;
    font-family: 'Fredoka One', cursive;
}

form button:enabled {
    background-color: #ffcd97;
    cursor: pointer;
}

form input {
    box-sizing: content-box;
    border: 2px solid lightcoral;
    padding: 4px;
    border-radius: 10px;
    margin: 10px 0;
    display: block;
    width: 97%;
    height: 30px;
}

form input:focus {
    border: 2px solid transparent;
}

#gameboard {
    width: 40rem;
    height: 25rem;
    max-width: 97%;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.block {
    background-color: #ffcd97;
    box-shadow: 2px 2px #f5a855;
    width: calc(100%/3 - 4px);
    height: calc(100%/3 - 4px);
    border-radius: 10px;
    border: none;
}

.block:hover:not(.block:disabled) {
    background-color: rgb(241, 205, 150);
}

.block:active:not(.block:disabled) {
    background-color: blanchedalmond;
}

.block:disabled {
    color: black;
}

.choice {
    display: flex;
    gap: 1rem;
}

.block, .choice button {
    font-size: 40px;
    font-family: 'Fredoka One', cursive;
}

#resetBtn {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.choice button, #resetBtn {
    width: 100px;
    height: 60px;
    border: 1px solid grey;
}

#gameInfo {
    font-size: 20px;
}

.notClicked, #resetBtn {
    background-color: khaki;
    box-shadow: 3px 3px lightsalmon;
}

.clicked, #resetBtn:active {
    background-color: bisque;
    box-shadow: none;
    transform: translate(3px,3px);
}