@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


html {
    box-sizing: border-box;
}

*:not(h1),*::after,*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

body {
    height: 100%;
}

#playerChoice {
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.719);
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    z-index: 2;
    background-color: lightyellow;
    padding: 5px;
}

form p {
    margin: 10px;
    color: brown;
    font-weight: bold;
    font-family: sans-serif;
}

form button {
    font-size: 40px;
    width: 100px;
    height: 60px;
    border: 1px solid grey;
    background-color: lightyellow;
}

form input {
    margin: 10px auto;
    display: block;
}

#gameboard {
    width: 40rem;
    height: 25rem;
    max-width: 97%;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.block {
    width: calc(100%/3 - 4px);
    height: calc(100%/3 - 4px);
    border: 1px solid black;
    background-color: blanchedalmond;
}

.block:hover:not(.block:disabled) {
    background-color: rgb(241, 205, 150);
}

.block:active:not(.block:disabled) {
    background-color: blanchedalmond;
}

.choice {
    display: flex;
    gap: 1rem;
}

.block, .choice button {
    font-size: 40px;
}

#resetBtn {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.choice button, #resetBtn {
    width: 100px;
    height: 60px;
    border: 1px solid grey;
}

#gameInfo {
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
}

.notClicked, #resetBtn {
    background-color: khaki;
    box-shadow: 3px 3px lightsalmon;
}

.clicked, #resetBtn:active {
    background-color: bisque;
    box-shadow: none;
    transform: translate(3px,3px);
}