html {
    box-sizing: border-box;
}

*:not(h1),*::after,*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: monospace;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#playerChoice {
    z-index: 1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.719);
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    z-index: 2;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
}

form p {
    margin: 10px;
    color: burlywood;
    font-weight: bold;
    font-family: sans-serif;
}

form button {
    font-size: 40px;
    width: 100px;
    height: 60px;
    border: 1px solid grey;
    background-color: lightyellow;
}

#gameboard {
    width: 40rem;
    height: 25rem;
    max-width: 97%;
    display: flex;
    flex-wrap: wrap;
}

.block {
    width: calc(100%/3 - 4px);
    height: calc(100%/3 - 4px);
}

.choice {
    display: flex;
    gap: 1rem;
}

.block, .choice button {
    font-size: 40px;
}

.choice button {
    width: 100px;
    height: 60px;
    border: 1px solid grey;
}

#gameInfo {
    font-family: 'Franklin Gothic Medium';
    font-size: 2rem;
}

.notClicked {
    background-color: khaki;
    box-shadow: 3px 3px lightsalmon;
}

.clicked {
    background-color: bisque;
    box-shadow: none;
    transform: translate(3px,3px);
}